.forgot-password-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#forgot-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forgot-password-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.forgot-password-button-send {
  padding-right: 10px;
}
#forgot-password-button-send {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;

  font-weight: bold;
  border-radius: 5px;
}
.forgot-password-button-cancel {
  padding-left: 10px;
}
#forgot-password-button-cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;

  font-weight: bold;
  border-radius: 5px;
}
#forgot-password-button-cancel:hover,
#forgot-password-button-send:hover {
  color: goldenrod;
}

.forgot-password-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 75%;
}
#forgot-password-message {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}
.forgot-password-email-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#forgot-password-email {
  width: auto; /* Make input fields take the full width */
  padding: 10px; /* Increase padding for input fields */
  margin-bottom: 10px; /* Add spacing between input fields */
  font-size: 16px; /* Increase the font size for input fields */
  border-radius: 5px;
}
