.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.sequoia-img {
  display: flex;
  flex: 1; /*Takes up half the width of the container*/
  max-height: auto;
  max-width: auto;
}
.form-outer {
  flex: 1; /* Takes up half the width of the container */
  display: flex;
  justify-content: center; /* Center the form horizontally */
  align-items: center; /* Center the form vertically */
  background-color: forestgreen;
}
.form-inner {
  display: flex;
  text-align: center; /* Center the form content */
  flex-direction: column;
}
.sign-in-up {
  display: flex;
  justify-content: space-evenly;
}
.sign-in {
  display: flex;
  flex-direction: column;
}
.sign-up {
  display: flex;
  flex-direction: column;
}
