.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.sequoia-img {
  display: flex;
  width: 50vw;
}
.form-outer {
  width: 50vw;
  display: flex;
  justify-content: center; /* Center the form horizontally */
  align-items: center; /* Center the form vertically */
  background-color: forestgreen;
}
.form-inner {
  display: flex;
  text-align: center; /* Center the form content */
  flex-direction: column;
  font-size: 24px;
}
.form-inner input[type="email"],
.form-inner input[type="password"] {
  width: 100%; /* Make input fields take the full width */
  padding: 10px; /* Increase padding for input fields */
  margin-bottom: 10px; /* Add spacing between input fields */
  font-size: 18px; /* Increase the font size for input fields */
}
.sign-in-up {
  display: flex;
  justify-content: space-evenly;
}
.sign-in {
  display: flex;
  flex-direction: column;
}
.sign-up {
  display: flex;
  flex-direction: column;
}
/* * {
  border: 1px solid black;
} */
