.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.sequoia-img {
  display: flex;
  width: 50vw;
}
.form-outer {
  display: flex;
  flex-direction: column;
}
.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 36px;
  padding-bottom: 10px;
  position: relative;
}
.icon {
  font-size: 2rem;
  color: darkgreen;
}
.olivedrab {
  color: #7f2b0a;
}
.webkit-text-stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.form-outer {
  width: 50vw;
  display: flex;
  justify-content: center; /* Center the form horizontally */
  align-items: center; /* Center the form vertically */
  background-color: rgb(217, 212, 168);
}
.form-inner {
  display: flex;
  text-align: center; /* Center the form content */
  align-items: center;
  flex-direction: column;
  font-size: 36px;
  padding-bottom: 10px;
}
.form-inner h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
