.form-inner input[type="text"],
.form-inner input[type="password"] {
  width: auto; /* Make input fields take the full width */
  padding: 10px; /* Increase padding for input fields */
  margin-bottom: 10px; /* Add spacing between input fields */
  font-size: 16px; /* Increase the font size for input fields */
}
.sign-in-up-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.sign-in button,
.sign-up button {
  background-color: rgb(217, 212, 168);
  border: none;
  font-weight: bold;
  padding: 10px;
  border-bottom: solid;
  width: 100px;
}
.sign-in button:hover,
.sign-up button:hover {
  color: white;
}
.username-password-input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.enter-forgot-password-container {
  display: flex;
  flex-direction: column;
  color: black;
  align-items: center;
  /* border: solid 1px; */
}
#enter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(217, 212, 168);
  border: solid;
  font-weight: bold;
}
.forgot-password {
  /* border: solid 1px; */
  padding-top: 15px;
}
#forgot-password {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  background-color: rgb(217, 212, 168);
  border: none;
  font-weight: bold;
}
#enter:hover,
#forgot-password:hover {
  color: white;
}
/* * {
  border: 1px solid black;
} */
